<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Operation: <%= operation %> (<%= operand1 %>, <%= operand2 %>)</p>
    <p>Results: <%= result %></p>
  </body>
</html>